<aside
  class="fixed w-80 top-16 shadow-lg rounded border border-gray-300 h-[calc(100vh_-_4rem)]"
>
  <ul>
    <li
      [routerLink]="'/'"
      class="p-4 cursor-pointer"
      routerLinkActive="border-blue-500 border-l-4"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      All
    </li>
    <li
      [routerLink]="'/important'"
      routerLinkActive="border-blue-500 border-l-4"
      class="p-4 cursor-pointer"
    >
      Important
    </li>
    <li
      [routerLink]="'/completed'"
      routerLinkActive="border-blue-500 border-l-4"
      class="p-4 cursor-pointer"
    >
      Completed
    </li>
  </ul>
</aside>
